{% extends "layoutBase.jinja" %}
{% from 'formularios.jinja' import render_field %}

{% block title %}
<title>CTA - Usuários</title>
{% endblock %}

{% block styles %}
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row pd1">
        {% if usuarios %}
        <div class="col-8 offset-2 visao-geral">
            <h5>Usuários:</h5>
            <form class="dgrid col-6 offset-3" action="/usuarios" method="POST">          
                <div class="input-group">
                    {{ form.csrf_token }}
                    {{form.busca}}
                    <div class="input-group-append">
                    {{form.submit}}
                    </div>
                </div>
            </form>                
            <h6 class="text-right">Buscando por: {{busca}}</h6>
            <table class="table table-striped table-light">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                    <tr>
                        <td><a href="/perfil/{{usuario.nome}}/{{usuario.id}}">{{ usuario.nome }}</a> 
                        {% if usuario.privado == True %}
                        <i data-toggle="tooltip" data-placement="top" title="Perfil privado" class="f14 material-icons">lock</i>
                        {% endif %}
                        </td>      
                        <td>{{ usuario.email }}</td>
                        <td>
                            <div class="dropdown dropleft" >
                                <a role="button" id="dropUser" data-toggle="dropdown" 
                                    aria-haspopup="true" aria-expanded="false"><i data-toggle="tooltip" data-placement="top" title="Mais opções" class=" material-icons">more_vert</i></a>
            
                                <div class="dropdown-menu" aria-labelledby="dropUser">
                                    <a class="dropdown-item" href="/deletar_usuario/{{usuario.id}}" >Deletar usuário <i class=" edit material-icons">close</i></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% else %}
        <div class="col-12 text-center">
            Nenhum projeto foi adicionado a plataforma!
        </div>
        {% endif %}

    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static',filename='js/script.js') }}"></script>
{% endblock %}