{% extends "layoutProjetos.jinja" %}
{% from 'formularios.jinja' import render_field2 %}

{% block title %}
    <title>{{projeto.nome}} - Editar descrição de foto</title>
{% endblock %}

{% block styles %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 text-left">
                <div class="row visao-geral pd1">
                    <div class="col-12 form-title">Editar descrição</div>
                    <form class="col-8 dgrid offset-2" action="/editar_foto/{{projeto.nome}}/{{foto.id}}" enctype="multipart/form-data" method=post>
                        {{ form.csrf_token }}
                        <div class="form-group">{{ render_field2(form.descricao,foto.descricao) }}</div>
                        </div>
                        {{form.submit}}
                    </form>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static',filename='js/script.js') }}"></script>
{% endblock %}

