{% extends "layoutProjetos.jinja" %}

{% block title %}
<title>{{projeto.nome}} - Fotos</title>
{% endblock %}

{% block styles %}
{% endblock %}

{% block body %}

<div class="container-fluid pdtop">
    <div class="row mg0 ">
        <h5 class="col-12">Fotos:</h5>
        <div class="col-10 offset-1 just ">
            {% for foto in projeto.fotos|reverse %}
            <div class="col-4 ">
                <div class="card foto-card mg10">
                    <div class="card-image">
                        <img src="{{ url_for('static', filename='uploads/fotos/'+foto.caminho) }}" class="card-img-top"
                            alt="Foto">
                    </div>
                    {% if  'user' in session and session['user']['id']|string == projeto.id_autor|string or 'user' in session and session['user']['id']|string == foto.id_usuario|string %}
                        <div class="card-body cda" id="">
                    {% else %}
                        <div class="card-body cdb" id="">
                    {% endif %}
                        <div class="text-left">Publicado em: {{foto.data_publicacao}}</div>
                        <div class="text-left scroll">{{foto.descricao}}</div>
                    </div>
                    {% if  'user' in session and session['user']['id']|string == projeto.id_autor|string or 'user' in session and session['user']['id']|string == foto.id_usuario|string %}
                    <div class="card-footer text-right mgt">
                            <a data-toggle="tooltip" data-placement="top" title="Editar descrição"
                                href="/editar_foto/{{projeto.nome}}/{{foto.id}}"><i
                                    class="large material-icons">edit</i></a>
                            <a data-toggle="tooltip" data-placement="top" title="Deletar foto"
                                href="/deletar_foto/{{projeto.nome}}/{{foto.id}}"><i
                                    class="large material-icons">close</i></a>
                    </div>
                    {% endif%}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}