{% extends "layoutProjetos.jinja" %}
{% from 'formularios.jinja' import render_field %}

{% block title %}
    <title>{{projeto.nome}} - Novo repositório</title>
{% endblock %}

{% block styles %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 text-left">
                <div class="row visao-geral pd1">
                    <div class="col-12 form-title">Criar novo repositório</div>
                    <form class="col-8 dgrid offset-2" action="/criar_repositorio/{{projeto.id}}" method=post>
                        {{ form.csrf_token }}
                        <div class="form-group">{{ render_field(form.nome) }}</div>
                        <div class="form-group">{{ render_field(form.link) }}</div>
                        {{form.submit}}
                    </form>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static',filename='js/script.js') }}"></script>
{% endblock %}

