<!doctype html>
<head>
	{% block title %}{% endblock %}
	{% block styles %}{% endblock %}
	{% include 'head.jinja' %}
</head>
<body>
	{% include 'navbar.jinja' %}

	{% if 'user' in session and 'logado' in session %}
	<div class="text-right mb1em"><span class="logado">Logado com: {{session['user']['nome']}}{% if session['logado'] == 'administrador' %}
		{{'(Administrador)'}}
		{%else%}
		{{'(Usuário)'}}
		{% endif %}</span></div>
	{% endif %}
	{% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
				{% for category, message in messages %}
				<div class="col-6 offset-3 pdtop">
                    <div class="alert alert-{{ category }} alert-dismissible fade show mg0 flash" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
					</div>
				</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
	{% block body %}{% endblock %}
</body>
<footer class="page-footer font-small blue pt-4 ">
	<div class="container-fluid text-center text-md-left">

		<div class="footer-copyright text-center py-3"></div>
		{% block scripts %}{% endblock %}
		<script type="text/javascript" src="{{ url_for('static',filename='js/script.js') }}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
		</script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
		</script>
</footer>